form.form-horizontal(ng-submit='addCourse()')
    .form-group
        label.col-sm-4.control-label
            h3 Add Course
        .col-sm-8
    .form-group
        label.col-sm-2.control-label(for='name') Course
        .col-sm-10
            input#name.form-control(type='text', placeholder='Course', ng-model='newCourse.name')
    .form-group
        .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type='submit') Submit
